<b>Importing the Required Libraries

In [1]:
import pandas as pd

<b>Reading the Data

In [2]:
data = pd.read_csv('customer_data.csv')
data.head()

   customer_id  age gender            email  purchases
0         1001   35      M  abc@example.com       10.0
1         1002   28      F  def@example.com        5.0
2         1003   40      F  ghi@example.com        NaN
3         1004   45      M  jkl@example.com        8.0
4         1005   33      M  mno@example.com       15.0

<b>Cleaning the Data

In [3]:
data.info() #Getting the Overview of the Data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  9 non-null      int64
 1   age          9 non-null      int64
 2   gender       9 non-null      object
 3   email        9 non-null      object
 4   purchases    7 non-null      float64
dtypes: float64(1), int64(2), object(2)
memory usage: 488.0+ bytes

In [4]:
data.isna().sum() #Checking the Null Values

customer_id    0
age            0
gender         0
email          0
purchases      2
dtype: int64

In [5]:
# Removing the duplicate Data
data = data.drop_duplicates()

# Handling the missing values
data = data.dropna()  # Drop rows with missing values

In [6]:
data.isna().sum() #Re-Checking the Null Values

customer_id    0
age            0
gender         0
email          0
purchases      0
dtype: int64

<b>Calculate Average Number of Purchases by Gender

In [7]:
average_purchases_by_gender = data.groupby('gender')['purchases'].mean()
average_purchases_by_gender

gender
F     7.00
M    11.25
Name: purchases, dtype: float64