<b>1. Please write a program using generator to print the numbers which can be divisible by 5 and 7 between 0 and n in comma separated form while n is input by console ? <b>

Example:

If the following n is given as input to the program: 100

Then, the output of the program should be: 0,35,70

In [15]:
def divisible_by_five_seven():
    number=int(input('Enter the range of Number: '))
    for i in range(0,number+1):
        if i%5==0 and i%7==0:
            yield i
            
for i in divisible_by_five_seven():
    print(i,end=', ')

Enter the range of Number: 1000
0, 35, 70, 105, 140, 175, 210, 245, 280, 315, 350, 385, 420, 455, 490, 525, 560, 595, 630, 665, 700, 735, 770, 805, 840, 875, 910, 945, 980,

<b>2.Please write a program using generator to print the even numbers between 0 and n in comma separated form while n is input by console ? <b>

Example:
    
If the following n is given as input to the program: 10
    
Then, the output of the program should be: 0,2,4,6,8,10

In [17]:
def even_numbers():
    number=int(input('Enter the range of Number: '))
    for i in range(0,number+1):
        if i%2==0 :
            yield i
            
for i in even_numbers():
    print(i,end=', ')

Enter the range of Number: 10
0, 2, 4, 6, 8, 10,

<b>3.The Fibonacci Sequence is computed based on the following formula below, Please write a program using list comprehension to print the Fibonacci Sequence in comma separated form with a given n input by console ?<b>
    
f(n)=0 if n=0 f(n)=1 if n=1 f(n)=f(n-1)+f(n-2) if n>1

In [11]:
def fibonocci(n):
    if n==0:
        return 0
    if n==1:
        return 1
    else:
        return fibonocci(n-1) + fibonocci(n-2)
print([fibonocci(i) for i in range(30)])

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229]

<b>4.Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the user name of a given email address. Both user names and company names are composed of letters only ?

Example:
    
If the following email address is given as input to the program: john@google.com\
Then, the output of the program should be: john

In [17]:
def split_name_company_from_email():
    email=input('Enter the Email id: ')
    name=email.split('@')[0]
    domain_name_with_cc=email.split('@')[-1]
    company_name=domain_name_with_cc.split('.')[-2]
    print(f'\nThe person name is: {name} \nand company name is: {company_name}')
split_name_company_from_email()

Enter the Email id: arijit@gmail.com

The person name is: arijit
and company name is: gmail

<b>5.Define a class named Shape and its subclass Square. The Square class has an init function which takes a length as argument. Both classes have a area function which can print the area of the shape where Shape's area is 0 by default.<b>

In [27]:
class Shape():
    def area(self):
        return 0
class Square(Shape):
    def __init__(self, length):
        self.length=length
    def area(self):
        yield self.length*self.length
leng=Square(200)
for i in leng.area():
    print(i)

40000