In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get('https://www.motorbazee.com/')

In [4]:
driver.find_element(By.XPATH, '//*[@id="UsedTruckSubmit"]').click()

In [22]:
v=70
Car_name_data=[]

for i in range(0,v):
    if i==50:
        break
    for j in range(i):
        Car_name = driver.find_element(By.XPATH,f"//body[1]/div[4]/div[1]/div[1]/div[2]/div[1]/div[2]/div[{i}]/div[1]/a[1]/div[1]").text
    i+=1
    Car_name_data.append(Car_name)
#         df=pd.DataFrame({'Vechile Name':Car_name_data,'Price':Car_name_data, 'Place':Car_name_data,'Type':Car_name_data, 'Model':Car_name_data, 'Description':Car_name_data})

In [43]:
df.to_csv('Vechile.csv')

In [24]:
Car_name_data

['TATA ACE SUPER\n₹ 2,75,000\nPalladam / Tamil Nadu\nN/A\nDiesel\nN/A',
 'TATA ACE GOLD PETROL\n₹ 3,65,000\nHubballi / Karnataka\nN/A\n2019\nDiesel\nN/A',
 'TATA ACE GOLD DIESEL\n₹ 3,50,000\nHubballi / Karnataka\nN/A\n2019\nDiesel\nN/A',
 'TATA ACE HT\n₹ 3,70,000\nMettur / Tamil Nadu\nN/A\n2017\nDiesel\nN/A',
 'ASHOK LEYLAND DOST BASE\n₹ 5,80,000\nSiddipet / Telagana\nN/A\n2017\nDiesel\nN/A',
 'EICHER PRO 2055 BS-VL HSD\n₹ 6,25,000\nMuvattupuzha / Kerala\nN/A\n2012\nDiesel\nN/A',
 'TATA SIGNA 4225.TK CAB/6700\n₹ 11,50,000\nChinnalapatti / Tamil Nadu\nN/A\n2011\nDiesel\nN/A',
 'BHARAT-BENZ 1214 CBC BASE\n₹ 14,00,000\nCoimbatore / Tamil Nadu\nN/A\n2019\nDiesel\nN/A',
 'TATA ACE HT\n₹ 2,25,000\nBangalore / Karnataka\nN/A\n2012\nDiesel\nN/A',
 'BHARAT-BENZ 1617R 5100/CBC\n₹ 12,50,000\nKarimnagar / Telagana\nN/A\n2015\nDiesel\nN/A',
 'MARUTI SUZUKI SUPER CARRY BS6 STD\n₹ 4,10,000\nMalappuram / Kerala\nN/A\nPetrol\nN/A',
 'ASHOK LEYLAND PARTNER 6 TYRE 3955/HSD/17FT\n₹ 8,10,000\nJangareddigudem / Andhra Pradesh\nN/A\n2017\nDiesel\nN/A',
 'SWARAJ MAZDA SUPER NG ZT54 NG A EL WB\n₹ 2,55,000\nKottayam / Kerala\nN/A\n2007\nDiesel\nN/A',
 'MAHINDRA BOLERO PICK UP 1.5T-BS4\n₹ 8,05,000\nChennai / Tamil Nadu\nN/A\n2019\nDiesel\nN/A',
 'TATA ACE HT\n₹ 2,80,000\nVadodara / Gujarat\nN/A\nDiesel\nN/A',
 'MAHINDRA MAXIMMO MINIVAN VX\n₹ 2,70,000\nKollam / Kerala\nN/A\n2016\nDiesel\nN/A',
 'BHARAT-BENZ 1917R 5100/CBC\n₹ 24,00,000\nMuvattupuzha / Kerala\nN/A\n2021\nDiesel\nN/A',
 'TATA ACE REFRESH HT\n₹ 5,25,000\nAvadi, / Tamil Nadu\nN/A\n2021\nDiesel\nN/A',
 'TATA 1612 BASE\n₹ 95,00,000\nBarmer / Rajasthan\nN/A\nDiesel\nN/A',
 'TATA 1612 BASE\n₹ 3,50,000\nThane / Maharashtra\nN/A\n1999\nDiesel\nN/A',
 'TATA ACE HT\n₹ 2,40,000\nKirnapur, / Madhya Pradesh\nN/A\n2014\nDiesel\nN/A',
 'MAHINDRA BOLERO MAXITRUCK PLUS 3150/BS-VI\n₹ 4,80,000\nKoodali, / Kerala\nN/A\n2015\nDiesel\nN/A',
 'ASHOK LEYLAND DOST BASE\n₹ 8,35,000\nChennai / Tamil Nadu\nN/A\n2021\nDiesel\nN/A',
 'MAHINDRA BOLERO PICK UP FB BS III\n₹ 8,10,000\nChennai / Tamil Nadu\nN/A\n2019\nDiesel\nN/A',
 'ASHOK LEYLAND 1616 T BASE\n₹ 15,50,000\nPondicherry / Pondicherry\nN/A\n2013\nDiesel\nN/A',
 'TATA SIGNA 4625 .S\n₹ 3,30,000\nNizamabad / Telagana\nN/A\n2008\nDiesel\nN/A',
 'ASHOK LEYLAND BADA DOST 2590/HSD/I4\n₹ 8,06,000\nHyderabad / Telagana\nN/A\nDiesel\nN/A',
 'TATA INTRA V10 CLB AC\n₹ 4,60,000\nMumbai / Maharashtra\nN/A\nDiesel\nN/A',
 'TATA ACE SUPER\n₹ 1,80,000\nChennai / Tamil Nadu\nN/A\nDiesel\nN/A',
 'MAHINDRA BOLERO MAXITRUCK PLUS 3150/BS-VI\n₹ 4,55,000\nTownship / Kerala\nN/A\n2015\nDiesel\nN/A',
 'ASHOK LEYLAND DOST LX\n₹ 3,30,000\nPathanamthitta / Kerala\nN/A\n2013\nDiesel\nN/A',
 'MAHINDRA BOLERO PIKUP EXTRALONG 3264/BS-VI\n₹ 7,00,000\nPanruti / Tamil Nadu\nN/A\n2017\nDiesel\nN/A',
 'TATA INTRA V30 HIGH DECK BODY\n₹ 59,999\nThiruppur / Tamil Nadu\nN/A\nDiesel\nN/A',
 'ASHOK LEYLAND DOST+ LS\n₹ 6,90,000\nKozhikode / Kerala\nN/A\nDiesel\nN/A',
 'TATA 1110 BASE\n₹ 9,90,000\nMuvattupuzha / Kerala\nN/A\n2013\nDiesel\nN/A',
 'TATA 1612 BASE\n₹ 14,75,000\nChennai / Tamil Nadu\nN/A\nDiesel\nN/A',
 'ASHOK LEYLAND LS BASE\n₹ 4,95,000\nMuvattupuzha / Kerala\nN/A\n2015\nDiesel\nN/A',
 'TATA ACE SUPER\n₹ 2,00,000\nHyderabad / Telagana\nN/A\n2013\nDiesel\nN/A',
 'MAHINDRA BIG BOLERO PICKUP BS-III\n₹ 5,95,000\nPathanamthitta / Kerala\nN/A\n2017\nDiesel\nN/A',
 'MAHINDRA SUPRO MAXITRUCK T2\n₹ 3,75,000\nKaraikudi / Tamil Nadu\nN/A\nDiesel\nN/A',
 'MAHINDRA BOLERO PIKUP EXTRALONG 3264/BS-VI\n₹ 8,50,000\nNannilam / Tamil Nadu\nN/A\n2021\nDiesel\nN/A',
 'TATA 207 RX ( DI ) BS-3\n₹ 2,75,000\nSilchar / Assam\nN/A\n2018\nDiesel\nN/A',
 'EICHER 11.10 BS III\n₹ 9,45,000\nKasaragod / Kerala\nN/A\n2014\nDiesel\nN/A',
 'TATA 1110 BASE\n₹ 9,30,000\nKottarakara / Kerala\nN/A\n2015\nDiesel\nN/A',
 'TATA INTRA V30 CLB NON AC\n₹ 59,999\nThiruppur / Tamil Nadu\nN/A\nDiesel\nN/A',
 'MAHINDRA BOLERO PIKUP 4X4 3014/BS-VI\n₹ 7,00,000\nErattupetta / Kerala\nN/A\nDiesel\nN/A',
 'MARUTI SUZUKI SUPER CARRY BS6 STD\n₹ 3,51,000\nChhapra / Bihar\nN/A\nPetrol\nN/A',
 'ASHOK LEYLAND DOST LX\n₹ 3,15,000\nErattupetta / Kerala\nN/A\n2013\nDiesel\nN/A',
 'MAHINDRA BOLERO PIKUP 4X4 3014/BS-VI\n₹ 6,35,000\nErattupetta / Kerala\nN/A\nDiesel\nN/A',
 'TATA ACE SUPER\n₹ 2,75,000\nPalladam / Tamil Nadu\nN/A\nDiesel\nN/A']

In [49]:
type(Car_name_data)

list

In [167]:
df=pd.DataFrame(Car_name_data[i].split('\n')for i in range (0,50))

In [175]:
df.set_axis(['Vechile Name', 'Price','Place','Type','Model Year', 'Engine Type', 'Description'], axis=1, inplace=True)

In [176]:
df

,Vechile Name,Price,Place,Type,Model Year,Engine Type,Description
0,TATA ACE SUPER,"₹ 2,75,000",Palladam / Tamil Nadu,N/A,Diesel,N/A,None
1,TATA ACE GOLD PETROL,"₹ 3,65,000",Hubballi / Karnataka,N/A,2019,Diesel,N/A
2,TATA ACE GOLD DIESEL,"₹ 3,50,000",Hubballi / Karnataka,N/A,2019,Diesel,N/A
3,TATA ACE HT,"₹ 3,70,000",Mettur / Tamil Nadu,N/A,2017,Diesel,N/A
4,ASHOK LEYLAND DOST BASE,"₹ 5,80,000",Siddipet / Telagana,N/A,2017,Diesel,N/A
5,EICHER PRO 2055 BS-VL HSD,"₹ 6,25,000",Muvattupuzha / Kerala,N/A,2012,Diesel,N/A
6,TATA SIGNA 4225.TK CAB/6700,"₹ 11,50,000",Chinnalapatti / Tamil Nadu,N/A,2011,Diesel,N/A
7,BHARAT-BENZ 1214 CBC BASE,"₹ 14,00,000",Coimbatore / Tamil Nadu,N/A,2019,Diesel,N/A
8,TATA ACE HT,"₹ 2,25,000",Bangalore / Karnataka,N/A,2012,Diesel,N/A
9,BHARAT-BENZ 1617R 5100/CBC,"₹ 12,50,000",Karimnagar / Telagana,N/A,2015,Diesel,N/A
10,MARUTI SUZUKI SUPER CARRY BS6 STD,"₹ 4,10,000",Malappuram / Kerala,N/A,Petrol,N/A,None
11,ASHOK LEYLAND PARTNER 6 TYRE 3955/HSD/17FT,"₹ 8,10,000",Jangareddigudem / Andhra Pradesh,N/A,2017,Diesel,N/A
12,SWARAJ MAZDA SUPER NG ZT54 NG A EL WB,"₹ 2,55,000",Kottayam / Kerala,N/A,2007,Diesel,N/A
13,MAHINDRA BOLERO PICK UP 1.5T-BS4,"₹ 8,05,000",Chennai / Tamil Nadu,N/A,2019,Diesel,N/A
14,TATA ACE HT,"₹ 2,80,000",Vadodara / Gujarat,N/A,Diesel,N/A,None
15,MAHINDRA MAXIMMO MINIVAN VX,"₹ 2,70,000",Kollam / Kerala,N/A,2016,Diesel,N/A
16,BHARAT-BENZ 1917R 5100/CBC,"₹ 24,00,000",Muvattupuzha / Kerala,N/A,2021,Diesel,N/A
17,TATA ACE REFRESH HT,"₹ 5,25,000","Avadi, / Tamil Nadu",N/A,2021,Diesel,N/A
18,TATA 1612 BASE,"₹ 95,00,000",Barmer / Rajasthan,N/A,Diesel,N/A,None
19,TATA 1612 BASE,"₹ 3,50,000",Thane / Maharashtra,N/A,1999,Diesel,N/A
20,TATA ACE HT,"₹ 2,40,000","Kirnapur, / Madhya Pradesh",N/A,2014,Diesel,N/A
21,MAHINDRA BOLERO MAXITRUCK PLUS 3150/BS-VI,"₹ 4,80,000","Koodali, / Kerala",N/A,2015,Diesel,N/A
22,ASHOK LEYLAND DOST BASE,"₹ 8,35,000",Chennai / Tamil Nadu,N/A,2021,Diesel,N/A
23,MAHINDRA BOLERO PICK UP FB BS III,"₹ 8,10,000",Chennai / Tamil Nadu,N/A,2019,Diesel,N/A
24,ASHOK LEYLAND 1616 T BASE,"₹ 15,50,000",Pondicherry / Pondicherry,N/A,2013,Diesel,N/A
25,TATA SIGNA 4625 .S,"₹ 3,30,000",Nizamabad / Telagana,N/A,2008,Diesel,N/A
26,ASHOK LEYLAND BADA DOST 2590/HSD/I4,"₹ 8,06,000",Hyderabad / Telagana,N/A,Diesel,N/A,None
27,TATA INTRA V10 CLB AC,"₹ 4,60,000",Mumbai / Maharashtra,N/A,Diesel,N/A,None
28,TATA ACE SUPER,"₹ 1,80,000",Chennai / Tamil Nadu,N/A,Diesel,N/A,None
29,MAHINDRA BOLERO MAXITRUCK PLUS 3150/BS-VI,"₹ 4,55,000",Township / Kerala,N/A,2015,Diesel,N/A
30,ASHOK LEYLAND DOST LX,"₹ 3,30,000",Pathanamthitta / Kerala,N/A,2013,Diesel,N/A
31,MAHINDRA BOLERO PIKUP EXTRALONG 3264/BS-VI,"₹ 7,00,000",Panruti / Tamil Nadu,N/A,2017,Diesel,N/A
32,TATA INTRA V30 HIGH DECK BODY,"₹ 59,999",Thiruppur / Tamil Nadu,N/A,Diesel,N/A,None
33,ASHOK LEYLAND DOST+ LS,"₹ 6,90,000",Kozhikode / Kerala,N/A,Diesel,N/A,None
34,TATA 1110 BASE,"₹ 9,90,000",Muvattupuzha / Kerala,N/A,2013,Diesel,N/A
35,TATA 1612 BASE,"₹ 14,75,000",Chennai / Tamil Nadu,N/A,Diesel,N/A,None
36,ASHOK LEYLAND LS BASE,"₹ 4,95,000",Muvattupuzha / Kerala,N/A,2015,Diesel,N/A
37,TATA ACE SUPER,"₹ 2,00,000",Hyderabad / Telagana,N/A,2013,Diesel,N/A
38,MAHINDRA BIG BOLERO PICKUP BS-III,"₹ 5,95,000",Pathanamthitta / Kerala,N/A,2017,Diesel,N/A
39,MAHINDRA SUPRO MAXITRUCK T2,"₹ 3,75,000",Karaikudi / Tamil Nadu,N/A,Diesel,N/A,None
40,MAHINDRA BOLERO PIKUP EXTRALONG 3264/BS-VI,"₹ 8,50,000",Nannilam / Tamil Nadu,N/A,2021,Diesel,N/A
41,TATA 207 RX ( DI ) BS-3,"₹ 2,75,000",Silchar / Assam,N/A,2018,Diesel,N/A
42,EICHER 11.10 BS III,"₹ 9,45,000",Kasaragod / Kerala,N/A,2014,Diesel,N/A
43,TATA 1110 BASE,"₹ 9,30,000",Kottarakara / Kerala,N/A,2015,Diesel,N/A
44,TATA INTRA V30 CLB NON AC,"₹ 59,999",Thiruppur / Tamil Nadu,N/A,Diesel,N/A,None
45,MAHINDRA BOLERO PIKUP 4X4 3014/BS-VI,"₹ 7,00,000",Erattupetta / Kerala,N/A,Diesel,N/A,None
46,MARUTI SUZUKI SUPER CARRY BS6 STD,"₹ 3,51,000",Chhapra / Bihar,N/A,Petrol,N/A,None
47,ASHOK LEYLAND DOST LX,"₹ 3,15,000",Erattupetta / Kerala,N/A,2013,Diesel,N/A
48,MAHINDRA BOLERO PIKUP 4X4 3014/BS-VI,"₹ 6,35,000",Erattupetta / Kerala,N/A,Diesel,N/A,None
49,TATA ACE SUPER,"₹ 2,75,000",Palladam / Tamil Nadu,N/A,Diesel,N/A,None

In [181]:
df.to_csv('Vehicle_data')

In [178]:
data=pd.read_csv('Vehicle_data')

In [180]:
data

,Unnamed: 0,Vechile Name,Price,Place,Type,Model Year,Engine Type,Description
0,0,TATA ACE SUPER,"₹ 2,75,000",Palladam / Tamil Nadu,NaN,Diesel,NaN,NaN
1,1,TATA ACE GOLD PETROL,"₹ 3,65,000",Hubballi / Karnataka,NaN,2019,Diesel,NaN
2,2,TATA ACE GOLD DIESEL,"₹ 3,50,000",Hubballi / Karnataka,NaN,2019,Diesel,NaN
3,3,TATA ACE HT,"₹ 3,70,000",Mettur / Tamil Nadu,NaN,2017,Diesel,NaN
4,4,ASHOK LEYLAND DOST BASE,"₹ 5,80,000",Siddipet / Telagana,NaN,2017,Diesel,NaN
5,5,EICHER PRO 2055 BS-VL HSD,"₹ 6,25,000",Muvattupuzha / Kerala,NaN,2012,Diesel,NaN
6,6,TATA SIGNA 4225.TK CAB/6700,"₹ 11,50,000",Chinnalapatti / Tamil Nadu,NaN,2011,Diesel,NaN
7,7,BHARAT-BENZ 1214 CBC BASE,"₹ 14,00,000",Coimbatore / Tamil Nadu,NaN,2019,Diesel,NaN
8,8,TATA ACE HT,"₹ 2,25,000",Bangalore / Karnataka,NaN,2012,Diesel,NaN
9,9,BHARAT-BENZ 1617R 5100/CBC,"₹ 12,50,000",Karimnagar / Telagana,NaN,2015,Diesel,NaN
10,10,MARUTI SUZUKI SUPER CARRY BS6 STD,"₹ 4,10,000",Malappuram / Kerala,NaN,Petrol,NaN,NaN
11,11,ASHOK LEYLAND PARTNER 6 TYRE 3955/HSD/17FT,"₹ 8,10,000",Jangareddigudem / Andhra Pradesh,NaN,2017,Diesel,NaN
12,12,SWARAJ MAZDA SUPER NG ZT54 NG A EL WB,"₹ 2,55,000",Kottayam / Kerala,NaN,2007,Diesel,NaN
13,13,MAHINDRA BOLERO PICK UP 1.5T-BS4,"₹ 8,05,000",Chennai / Tamil Nadu,NaN,2019,Diesel,NaN
14,14,TATA ACE HT,"₹ 2,80,000",Vadodara / Gujarat,NaN,Diesel,NaN,NaN
15,15,MAHINDRA MAXIMMO MINIVAN VX,"₹ 2,70,000",Kollam / Kerala,NaN,2016,Diesel,NaN
16,16,BHARAT-BENZ 1917R 5100/CBC,"₹ 24,00,000",Muvattupuzha / Kerala,NaN,2021,Diesel,NaN
17,17,TATA ACE REFRESH HT,"₹ 5,25,000","Avadi, / Tamil Nadu",NaN,2021,Diesel,NaN
18,18,TATA 1612 BASE,"₹ 95,00,000",Barmer / Rajasthan,NaN,Diesel,NaN,NaN
19,19,TATA 1612 BASE,"₹ 3,50,000",Thane / Maharashtra,NaN,1999,Diesel,NaN
20,20,TATA ACE HT,"₹ 2,40,000","Kirnapur, / Madhya Pradesh",NaN,2014,Diesel,NaN
21,21,MAHINDRA BOLERO MAXITRUCK PLUS 3150/BS-VI,"₹ 4,80,000","Koodali, / Kerala",NaN,2015,Diesel,NaN
22,22,ASHOK LEYLAND DOST BASE,"₹ 8,35,000",Chennai / Tamil Nadu,NaN,2021,Diesel,NaN
23,23,MAHINDRA BOLERO PICK UP FB BS III,"₹ 8,10,000",Chennai / Tamil Nadu,NaN,2019,Diesel,NaN
24,24,ASHOK LEYLAND 1616 T BASE,"₹ 15,50,000",Pondicherry / Pondicherry,NaN,2013,Diesel,NaN
25,25,TATA SIGNA 4625 .S,"₹ 3,30,000",Nizamabad / Telagana,NaN,2008,Diesel,NaN
26,26,ASHOK LEYLAND BADA DOST 2590/HSD/I4,"₹ 8,06,000",Hyderabad / Telagana,NaN,Diesel,NaN,NaN
27,27,TATA INTRA V10 CLB AC,"₹ 4,60,000",Mumbai / Maharashtra,NaN,Diesel,NaN,NaN
28,28,TATA ACE SUPER,"₹ 1,80,000",Chennai / Tamil Nadu,NaN,Diesel,NaN,NaN
29,29,MAHINDRA BOLERO MAXITRUCK PLUS 3150/BS-VI,"₹ 4,55,000",Township / Kerala,NaN,2015,Diesel,NaN
30,30,ASHOK LEYLAND DOST LX,"₹ 3,30,000",Pathanamthitta / Kerala,NaN,2013,Diesel,NaN
31,31,MAHINDRA BOLERO PIKUP EXTRALONG 3264/BS-VI,"₹ 7,00,000",Panruti / Tamil Nadu,NaN,2017,Diesel,NaN
32,32,TATA INTRA V30 HIGH DECK BODY,"₹ 59,999",Thiruppur / Tamil Nadu,NaN,Diesel,NaN,NaN
33,33,ASHOK LEYLAND DOST+ LS,"₹ 6,90,000",Kozhikode / Kerala,NaN,Diesel,NaN,NaN
34,34,TATA 1110 BASE,"₹ 9,90,000",Muvattupuzha / Kerala,NaN,2013,Diesel,NaN
35,35,TATA 1612 BASE,"₹ 14,75,000",Chennai / Tamil Nadu,NaN,Diesel,NaN,NaN
36,36,ASHOK LEYLAND LS BASE,"₹ 4,95,000",Muvattupuzha / Kerala,NaN,2015,Diesel,NaN
37,37,TATA ACE SUPER,"₹ 2,00,000",Hyderabad / Telagana,NaN,2013,Diesel,NaN
38,38,MAHINDRA BIG BOLERO PICKUP BS-III,"₹ 5,95,000",Pathanamthitta / Kerala,NaN,2017,Diesel,NaN
39,39,MAHINDRA SUPRO MAXITRUCK T2,"₹ 3,75,000",Karaikudi / Tamil Nadu,NaN,Diesel,NaN,NaN
40,40,MAHINDRA BOLERO PIKUP EXTRALONG 3264/BS-VI,"₹ 8,50,000",Nannilam / Tamil Nadu,NaN,2021,Diesel,NaN
41,41,TATA 207 RX ( DI ) BS-3,"₹ 2,75,000",Silchar / Assam,NaN,2018,Diesel,NaN
42,42,EICHER 11.10 BS III,"₹ 9,45,000",Kasaragod / Kerala,NaN,2014,Diesel,NaN
43,43,TATA 1110 BASE,"₹ 9,30,000",Kottarakara / Kerala,NaN,2015,Diesel,NaN
44,44,TATA INTRA V30 CLB NON AC,"₹ 59,999",Thiruppur / Tamil Nadu,NaN,Diesel,NaN,NaN
45,45,MAHINDRA BOLERO PIKUP 4X4 3014/BS-VI,"₹ 7,00,000",Erattupetta / Kerala,NaN,Diesel,NaN,NaN
46,46,MARUTI SUZUKI SUPER CARRY BS6 STD,"₹ 3,51,000",Chhapra / Bihar,NaN,Petrol,NaN,NaN
47,47,ASHOK LEYLAND DOST LX,"₹ 3,15,000",Erattupetta / Kerala,NaN,2013,Diesel,NaN
48,48,MAHINDRA BOLERO PIKUP 4X4 3014/BS-VI,"₹ 6,35,000",Erattupetta / Kerala,NaN,Diesel,NaN,NaN
49,49,TATA ACE SUPER,"₹ 2,75,000",Palladam / Tamil Nadu,NaN,Diesel,NaN,NaN